.background {
    background-image: url("../../public/site/bgdots.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 4rem;
    padding-bottom: 8rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: transparent;
  cursor: pointer;
}

.pagination button.active {
  background-color: #ccc;
}


