.bg {
  background-color: black;
  min-height: 26vh;
  border-top: 0.1rem solid var(--violet);
}

.nav {
  margin-top: 8rem;
  display: flex;
  justify-content: space-around;
  gap: 10rem;
}

.lis {
  color: var(--dark-gray);
  border-bottom: solid 1px var(--violet);
  transition: ease-in-out 0.5s;
}

.lis:hover {
  color: var(--gray);
}

.nav__links {
  display: flex;
  gap: 4rem;
}

@media screen and (max-width: 960px) {
  .nav__links {
    gap: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .nav {
    margin-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .nav__links {
    flex-direction: column;
    gap: 3rem;
  }
}

@media screen and (max-width: 450px) {



}

@media screen and (max-width: 370px) {

}  