.nav {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  background-color: var(--deep-purple);
  align-items: center;
}

.nav__links {
  display: flex;
  gap: 2rem;
}

.nav__socials {
  display: flex;
  gap: 2rem;
}

.link {
  color: var(--gray);
}