.bg {
  background-image: url("../../public/site/puff-purple-smoke.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 8rem;
}

.contacts {
  padding: 8rem 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(255, 255, 0, 0.6);
}

.contacts__single {
  display: flex;
  gap: 4rem;
}

.icon {
  color: var(--gray);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.contact_details {
  font-size: 2rem;
  letter-spacing: 2px;
}
