.bg {
  background-image: url("../../public/site/puff-purple-smoke.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 6rem;
}

.contacts {
  padding: 6rem 0;
  display: flex;
  justify-content: space-around;
}

.contacts__single {
  display: flex;
  gap: 2rem;
}

.icon {
  color: var(--dark-gray);
  font-size: 2rem;
}

.icon:hover {
  color: var(--violet);
}

.contact_details {
  font-size: 2rem;
  letter-spacing: 2px;
}

.contact_details:hover {
  color: var(--violet);
}