.hero {
  background-color: black;
  min-height: 90vh;
}

.hero_section {
  display: flex;
  justify-content: space-around;
}

.hero__info {
  color: white;
  padding-top: 8rem;
}

.hero__heading {
  margin-bottom: 2rem;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid var(--violet);
}