.painting__section {
  max-width: 48%;
}

/* .background_image {
  background-image: url("../../public/paintings-small/basmaq.jpg");
} */

.image_title {
  font-size: 3.2rem;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.btn {
  margin-bottom: 6rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  transition: 300ms ease-in-out;
  width: max-content;
}

.btn:hover {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.image {
  border: 2px solid white;
  object-fit: cover;
  object-position: center;
  cursor: url("../../public/site/eye.svg"), pointer;
}

.fragment {
  text-align: left;
}

.title {
  text-align: left;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.display {
  display: block;
}

.display_m {
  display: none;
}

.blur_load {
  background-size: cover;
  background-position: center;
}



@media screen and (max-width: 960px) {
  .image_title {
    font-size: 2.8rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
  }
  
  .btn {
    gap: 1rem;
  }

  .display {
    display: none;
  }
  
  .display_m {
    display: block;
  }
}

@media screen and (max-width: 720px) {
  .painting__section {
    max-width: 100%;
  }

  .image_title {
    text-align: center;
  }

  .centered {
    display: flex;
    justify-content: center;
  }
}
