.painting__section {
  width: 30%;
}

.painting {
  text-align: center;
}

.painting__info {
}

.image_title {
  font-size: 3.2rem;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.btn {
  display: flex;
  gap: 2rem;
  align-items: center;
  transition: 300ms ease-in-out;
}

.btn:hover {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.image {
  border: 2px solid white;
}