.info {
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    gap: 10%;
  }
  
  .title {
    padding-top: 8rem;
    color: var(--violet);
  }
  
  .btn {
    display: flex;
    gap: 2rem;
    align-items: center;
    transition: 300ms ease-in-out;
  }
  
  .btn:hover {
    display: flex;
    gap: 4rem;
    align-items: center;
  }