.image_section {
    display: flex;
    gap: 6rem;
    margin-top: 2rem;
    align-items: center;
}

.title {
    margin-bottom: 2.8rem;
}

.text {
    margin-top: 2rem;
}

.display {
    display: block;
    cursor: pointer;
}

.display_sm {
    display: none;
}

.subHeading {
    font-family: 'Underdog', cursive;
    color: white;
    font-size: 2.4rem;
}

.pre {
    color: white;
    font-size: 1.6rem;
    line-height: 1.6;
}

.poem-container {
    font-family: monospace;
    white-space: pre-line;
}

.paintingTitle {
    font-size:26px; font-weight:700;  letter-spacing:1px; text-transform:uppercase; width:160px; text-align:center; margin:auto; white-space:nowrap; padding-bottom:13px;
  }
  .paintingTitle:before {
      background-color: #c50000;
      content: '';
      display: block;
      height: 3px;
      width: 75px;
      margin-bottom: 5px;
  }
  .paintingTitle:after {
      background-color: #c50000;
      content: '';
      display: block;
    position:absolute; right:0; bottom:0;
      height: 3px;
      width: 75px;
      margin-bottom: 0.25em;
  }

  .centered {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  @media screen and (max-width: 960px) {
  
    .centered {
      display: flex;
      justify-content: center;
    }
  }

@media screen and (max-width: 860px) {
    .display {
        display: none;
    }
    
    .display_sm {
        display: block;
    }

    .image_section {
        gap: 4rem;
    }
}

@media screen and (max-width: 760px) {
    .image_section {
        flex-direction: column;
    }

    .display {
        display: flex;
        justify-content: center;
    }
    
    .display_sm {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .display {
        display: none;
    }
    
    .display_sm {
        display: block;
    }

    .pre {
        color: white;
        font-size: 1rem;
        line-height: 1.4;
    }

    .mobile_heading {
        text-align: center;
        font-size: 2rem;
    }
}

@media screen and (max-width: 380px) {
    .display {
        display: none;
    }

    .display_sm {
        display: flex;
        justify-content: center;
    }
}


/* 

@media screen and (max-width: 1100px) {

}

@media screen and (max-width: 860px) {

}

@media screen and (max-width: 450px) {

}

@media screen and (max-width: 370px) {

}  

*/