.image_section {
    display: flex;
    padding-top: 10rem;
    gap: 6rem;
    margin-top: 2rem;
    align-items: center;
}

.title {
    margin-bottom: 2.8rem;
}

.text {
    margin-top: 2rem;
}

.display {
    display: block;
}

.display_sm {
    display: none;
}

.pre {
    color: white;
    font-size: 1.6rem;
    line-height: 1.6;
}

.poem-container {
    font-family: monospace;
    white-space: pre-line;
}

@media screen and (max-width: 860px) {
    .display {
        display: none;
    }
    
    .display_sm {
        display: block;
    }

    .image_section {
        gap: 4rem;
    }
}

@media screen and (max-width: 760px) {
    .image_section {
        flex-direction: column;
    }

    .display {
        display: flex;
        justify-content: center;
    }
    
    .display_sm {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .display {
        display: none;
    }
    
    .display_sm {
        display: block;
    }

    .pre {
        color: white;
        font-size: 1rem;
        line-height: 1.4;
    }
}

@media screen and (max-width: 380px) {
    .display {
        display: none;
    }

    .display_sm {
        display: flex;
        justify-content: center;
    }
}


/* 

@media screen and (max-width: 1100px) {

}

@media screen and (max-width: 860px) {

}

@media screen and (max-width: 450px) {

}

@media screen and (max-width: 370px) {

}  

*/