@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Comfortaa:wght@300;400;500;600;700&family=Gabriela&family=Kurale&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Wet+Paint&family=Sofia+Sans+Condensed:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vollkorn+SC:wght@400;600;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Pangolin&family=Reggae+One&family=Rubik+Dirt&family=Rubik+Wet+Paint&family=Ruslan+Display&family=Shantell+Sans:wght@300&family=Underdog&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Rubik+Beastly&family=Rubik+Distressed&family=Rubik+Gemstones&family=Rubik+Marker+Hatch&family=Rubik+Maze&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Kurale&display=swap');

@font-face {
  font-family: gothic;
  src: local('gothic'),
  url('../public/fonts/gothic.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* .frame {
  margin:50px auto;
  border:25px solid #222;
  height:475px;
  width:350px;
  -webkit-box-shadow:  px 2px 3px 1px rgba(0, 0, 0, .5);
  box-shadow:  0px 3px 10px 4px rgba(0, 0, 0, .3);
}

.border {
  background:white;
  height:100%;
  width:100%;
  -webkit-box-shadow: inset 10px 10px 10px 4px rgba(0, 0, 0, .4);
  box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, .4);
}

.image {
  position:absolute;
  height:350px;
  width:250px;
  margin-left:50px;
  margin-top:50px;
  -webkit-box-shadow: inset 10px 10px 10px 4px rgba(0, 0, 0, .6);
  box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, .1);
  border:2px inset #c9c9c9;
}

.text {
  position:absolute;
  margin-top:420px;
  font-family: 'Playball', cursive;
  font-size:30px;
  margin-left:85px;
} */

/* 



    font-family: 'Kurale', serif;

    font-family: 'Pangolin', cursive;

    font-family: 'Reggae One', cursive;

    font-family: 'Rubik Dirt', cursive;

    font-family: 'Rubik Wet Paint', cursive;

    font-family: 'Ruslan Display', cursive;

    font-family: 'Shantell Sans', cursive;

    font-family: 'Underdog', cursive;
 */

:root {
  --lg-screen: 70%;
  --md-screen: 80%;
  --sm-screen: 90%;
  --violet: rgb(250, 54, 250);
  --deep-purple: rgb(59, 4, 59);
  --violet-ts: rgba(250, 54, 250, 0.7);
  --deep-purple-ts: rgba(31, 2, 31, 0.8);
  --deep-blueish-ts: #2e1441bc;
  --gray: #E6DDD6;
  --dark-gray: #918A84;

  --hover-width: 75%;
  --other-width: 25%;

  --speed: 800ms;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 100vh;
}

h1 {
  color: var(--gray);
  letter-spacing: 0.4rem;
  font-size: 6rem;
}

h2 {
  letter-spacing: 0.2rem;
  font-size: 2rem;
  color: var(--gray);
  text-align: center;
}

h3 {
  font-weight: 100;
  color: var(--dark-gray);
  font-size: 4rem;
}

h4 {
  color: var(--gray);
  font-size: 4rem;
}

p {
  padding-bottom: 1rem;
  letter-spacing: 0.2rem;
  line-height: 1.6;
  color: var(--gray);
  font-size: 1.4rem;
}

li {
  letter-spacing: 1px;
  font-size: 18px;
  cursor: pointer;
}

a {
  color: black;
  text-align: center;
  letter-spacing: 2px;
}

label {
  color:  var(--dark-gray);
  font-size: 1.6rem;
}

input {
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--dark-gray);
  height: 2.4rem;
  /* background-color: rgba(255, 255, 255, 0.3); */
  background-color: rgba(255, 255, 0, 0);
  color: white;
  font-family: 'Special Elite', cursive;
  letter-spacing: .2rem;
  font-size: 1.4rem;
  padding: 1rem 1rem;
  font-weight: 300;
  /* border-radius: 25px; */
  transition: .4s ease-in-out;
}

input:focus {
  outline: none;
  border-bottom: 1px solid var(--violet);
}

textarea {
  background-color: rgba(240, 248, 255, 0);
  border-bottom: 1px solid var(--dark-gray);
  color: white;
  font-family: 'Special Elite', cursive; 
  letter-spacing: .2rem; 
  font-size: 1.4rem;
  padding: 1rem 1rem;
}

textarea:focus {
  border-bottom: 1px solid var(--violet);
}

.container {
  margin: 0 auto;
  width: var(--lg-screen);
}

.iconBtn {
  color: rgb(222, 24, 24);
  cursor: pointer;
}

.bgFont {
  letter-spacing: .3rem;
  font-size: 1.6rem;
  font-family: 'Underdog', cursive;
}

.typewriter {
  font-family: 'Special Elite', cursive;
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
}

.btn__primary {
  color: hsl(317 100% 54%);
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
  border: 0.125em solid hsl(317 100% 54%);
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
  0 0 0.45em hsl(317 100% 54%);
  box-shadow: inset 0 0 0.5em 0 hsl(317 100% 54%),
  0 0 0.5em 0 hsl(317 100% 54%);
  position: relative;
  transition: background-color 100ms linear;
}

.btn__primary::before {
  pointer-events: none;
  content: '';
  position: absolute;
  background: hsl(317 100% 54%);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.btn__primary::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em hsl(317 100% 54%);
  opacity: 0;
  transition: opacity 100ms linear;
}

.btn__primary:hover,
.btn__primary:focus {
  background:hsl(317 100% 54%);
  color: black;
  text-shadow: none;
}

.btn__primary:hover::before,
.btn__primary:focus::before {
  opacity: 1;
}

.btn__primary:hover::after,
.btn__primary:focus::after {
  opacity: 1;
}



.henni {
  font-family: 'Henny Penny', cursive;
  line-height: 2;
  letter-spacing: 0.2rem;
}

.bgTitle {
  font-family: 'gothic';
}

.shadow {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 1px -1px 42px 35px rgba(0,0,0,0.7);
-webkit-box-shadow: 1px -1px 42px 35px rgba(0,0,0,0.7);
-moz-box-shadow: 1px -1px 42px 35px rgba(0,0,0,0.7);
}

.frame {
  background-color:#ddc;
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  margin:10vh 10vw;
  height:80vh;
  padding:8vmin;
  position:relative;
  text-align:center;
  &:before {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
  }
  &:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;
  }
}

.text {
  font-size:30px;
  margin-top: 20px;
  text-align: center;
  font-family: 'gothic';
  letter-spacing: 1rem;
}

.enText {
  font-size:30px;
  margin-top: 20px;
  text-align: center;
  font-family: 'Henny Penny', cursive;
  letter-spacing: 1rem;
}

@media screen and (max-width: 1300px) {
  .container {
    margin: 0 auto;
    width: var(--md-screen);
  }
}

@media screen and (max-width: 1300px) {
  .btn__primary {
    font-size: 1.4rem;
    padding: 1rem 2.2rem;
  }
}


@media screen and (max-width: 1100px) {
  .container {
    margin: 0 auto;
    width: var(--sm-screen);
  }
}

@media screen and (max-width: 980px) {
  h1 {
    letter-spacing: 0.2rem;
    font-size: 4.6rem;
  }
  
  h2 {
    letter-spacing: 0.2rem;
    font-size: 2rem;
  }
  
  h3 {
    font-size: 3rem;
  }
  
  h4 {
    font-size: 3.4rem;
  }

  p {
    padding-bottom: .8rem;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
  }
  
  .btn__primary {
    font-size: 1.2rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding: 1.2rem 2.2rem;
    border-radius: 6px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    margin: 0 auto;
    width: var(--sm-screen);
  }

  .shadow {
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 1px -1px 21px 20px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -1px 21px 20px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -1px 21px 20px rgba(0,0,0,0.75);
  }
}

@media screen and (max-width: 370px) {
  h1 {
    font-size: 4rem;
  }
  
  h2 {
    letter-spacing: 0.2rem;
    font-size: 1.6rem;
  }
  
  h3 {
    font-size: 2.4rem;
  }
  
  h4 {
    font-size: 3rem;
  }

} 
